<!DOCTYPE html>
<html>
  <head>
    <title>Sistema para validar CPF em java cpf validado</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
  </head>
  <body class="container">
    <br />
    <br />
    <br />
    <h2>A verificação do CPF foi realizada com sucesso!</h2>
    <br>
    <ul>
      <li><b>Nome: </b><span th:text="${cliente.nome}"></span></li>
      <li><b>CPF: </b><span th:text="${cliente.cpf}"></span></li>
    </ul>
    
    <br>

    <div th:if="${validado}" class="alert alert-success" role="alert">
      Seu CPF é válido!
    </div>
    <div th:unless="${validado}" class="alert alert-danger" role="alert">
      Seu CPF é invalido!
    </div>
  </body>
</html>
